{%extends 'base.html' %}


{%block title%}Setup{%endblock%}
{%block content%}
<center>
    <h1>
        Note: Download This Private Key and Keep it Safe. You will need it to access your account. (You will not be able
        to
        recover it if you lose it.)
    </h1>
    <form action="" method="post">
        {%csrf_token%}
        <button class="btn btn-lg btn-primary" type="submit">Download Private Key</button>
    </form>
    <br>
    <a href="/"><button class="btn btn-primary">Go To Dashboard</button></a>
</center>
{%endblock%}
